---
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon/components";
import LottieAnimation from "astro-integration-lottie/Lottie.astro";
---

<main
  class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24">
  <div class="py-6 md:order-1 hidden md:block">
    <div style="width: 600px; height: auto;">
      <LottieAnimation src="assets/animation.json" autoplay="visible" />
    </div>
  </div>
  <div>
    <h1
      class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
      Power up your smart contract development
    </h1>
    <p class="text-lg mt-4 text-slate-600 max-w-xl">
      Hit the ground running with the best-in-class experience of smart contract deployment.<wbr /> TONIC has your back.
    </p>
    <div class="mt-6 flex flex-col sm:flex-row gap-3">
      <button
        type="button"
        disabled
        class="flex gap-1 items-center justify-center opacity-40 bg-black text-white px-4 py-2 rounded-md"
        >
        <Icon class="text-white w-5 h-5" name="bx:bxs-cloud-download" />

         Download for Free (Coming Soon)
      </button>
      <Link
        size="lg"
        style="outline"
        rel="noopener"
        href="https://github.com/tonicdevs"
        class="flex gap-1 items-center justify-center"
        target="_blank">
        <Icon class="text-black w-4 h-4" name="bx:bxl-github" />
         GitHub Repo
      </Link>
    </div>
  </div>
</main>
